```
# Build artifacts
bin/
obj/
*.exe
*.dll
*.pdb
*.userprefs
*.suo
*.user
*.aps
*.ncb
*.obj
*.o
*.ilk
*.ipdb
*.iobj
*.exp
*.lib
*.so
*.dylib
*.jar
*.war
*.class
*.aar
*.dll.config
*.exe.config
*.xml
*.cache
*.dotSettings.user
*.VC.db
*.VC.VC.opendb
*.opensdf
*.sdf
*.pidb
*.userosscache
*.scc
*.manifest
*.dep
*.d
*.d.ts
*.js.map
*.jsx.map
*.tsbuildinfo
*.njsproj.njsprojAssemblyReference.cache
*.njsproj.njsproj.FileListAbsolute.txt
*.njsproj.CodeAnalysisLog.xml
*.njsproj.sln.docstates
*.njsproj.User
*.njsproj.vspscc
*.njsproj.vssscc
*.njsproj.bak
*.njsproj.old
*.njsproj.tmp
*.njsproj.log
*.njsproj.err
*.njsproj.warnings
*.njsproj.infolog
*.njsproj.xml
*.njsproj.json
*.njsproj.yml
*.njsproj.yaml
*.njsproj.toml
*.njsproj.ini
*.njsproj.cfg
*.njsproj.config
*.njsproj.properties
*.njsproj.targets
*.njsproj.props
*.njsproj.tasks
*.njsproj.user
*.njsproj.lock
*.njsproj.cache
*.njsproj.metadata
*.njsproj.binlog
*.njsproj.gvfs
*.njsproj.gitattributes
*.njsproj.gitignore
*.njsproj.editorconfig
*.njsproj.checkstyle
*.njsproj.codacy-coverage
*.njsproj.codeclimate
*.njsproj.coverage
*.njsproj.htmlcov
*.njsproj.lcov
*.njsproj.info
*.njsproj.gcov
*.njsproj.cobertura
*.njsproj.jacoco
*.njsproj.sonarqube
*.njsproj.sonar
*.njsproj.sonar-project
*.njsproj.sonar-scanner
*.njsproj.sonarqube.properties
*.njsproj.sonar-project.properties
*.njsproj.sonar-scanner.properties
*.njsproj.sonar-project.json
*.njsproj.sonar-scanner.json
*.njsproj.sonar-project.yml
*.njsproj.sonar-scanner.yml
*.njsproj.sonar-project.yaml
*.njsproj.sonar-scanner.yaml
*.njsproj.sonar-project.toml
*.njsproj.sonar-scanner.toml
*.njsproj.sonar-project.ini
*.njsproj.sonar-scanner.ini
*.njsproj.sonar-project.cfg
*.njsproj.sonar-scanner.cfg
*.njsproj.sonar-project.config
*.njsproj.sonar-scanner.config
*.njsproj.sonar-project.properties
*.njsproj.sonar-scanner.properties
*.njsproj.sonar-project.json
*.njsproj.sonar-scanner.json
*.njsproj.sonar-project.yml
*.njsproj.sonar-scanner.yml
*.njsproj.sonar-project.yaml
*.njsproj.sonar-scanner.yaml
*.njsproj.sonar-project.toml
*.njsproj.sonar-scanner.toml
*.njsproj.sonar-project.ini
*.njsproj.sonar-scanner.ini
*.njsproj.sonar-project.cfg
*.njsproj.sonar-scanner.cfg
*.njsproj.sonar-project.config
*.njsproj.sonar-scanner.config
*.njsproj.sonar-project.properties
*.njsproj.sonar-scanner.properties
*.njsproj.sonar-project.json
*.njsproj.sonar-scanner.json
*.njsproj.sonar-project.yml
*.njsproj.sonar-scanner.yml
*.njsproj.sonar-project.yaml
*.njsproj.sonar-scanner.yaml
*.njsproj.sonar-project.toml
*.njsproj.sonar-scanner.toml
*.njsproj.sonar-project.ini
*.njsproj.sonar-scanner.ini
*.njsproj.sonar-project.cfg
*.njsproj.sonar-scanner.cfg
*.njsproj.sonar-project.config
*.njsproj.sonar-scanner.config
*.njsproj.sonar-project.properties
*.njsproj.sonar-scanner.properties
*.njsproj.sonar-project.json
*.njsproj.sonar-scanner.json
*.njsproj.sonar-project.yml
*.njsproj.sonar-scanner.yml
*.njsproj.sonar-project.yaml
*.njsproj.sonar-scanner.yaml
*.njsproj.sonar-project.toml
*.njsproj.sonar-scanner.toml
*.njsproj.sonar-project.ini
*.njsproj.sonar-scanner.ini
*.njsproj.sonar-project.cfg
*.njsproj.sonar-scanner.cfg
*.njsproj.sonar-project.config
*.njsproj.sonar-scanner.config
*.njsproj.sonar-project.properties
*.njsproj.sonar-scanner.properties
*.njsproj.sonar-project.json
*.njsproj.sonar-scanner.json
*.njsproj.sonar-project.yml
*.njsproj.sonar-scanner.yml
*.njsproj.sonar-project.yaml
*.njsproj.sonar-scanner.yaml
*.njsproj.sonar-project.toml
*.njsproj.sonar-scanner.toml
*.njsproj.sonar-project.ini
*.njsproj.sonar-scanner.ini
*.njsproj.sonar-project.cfg
*.njsproj.sonar-scanner.cfg
*.njsproj.sonar-project.config
*.njsproj.sonar-scanner.config
*.njsproj.sonar-project.properties
*.njsproj.sonar-scanner.properties
*.njsproj.sonar-project.json
*.njsproj.sonar-scanner.json
*.njsproj.sonar-project.yml
*.njsproj.sonar-scanner.yml
*.njsproj.sonar-project.yaml
*.njsproj.sonar-scanner.yaml
*.njsproj.sonar-project.toml
*.njsproj.sonar-scanner.toml
*.njsproj.sonar-project.ini
*.njsproj.sonar-scanner.ini
*.njsproj.sonar-project.cfg
*.njsproj.sonar-scanner.cfg
*.njsproj.sonar-project.config
*.njsproj.sonar-scanner.config
*.njsproj.sonar-project.properties
*.njsproj.sonar-scanner.properties
*.njsproj.sonar-project.json
*.njsproj.sonar-scanner.json
*.njsproj.sonar-project.yml
*.njsproj.sonar-scanner.yml
*.njsproj.sonar-project.yaml
*.njsproj.sonar-scanner.yaml
*.njsproj.sonar-project.toml
*.njsproj.sonar......
```